@model lms_test1.Models.Section

@{
    ViewData["Title"] = "Sections";
    ViewData["Header"] = "Create Section";
}


<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Sections" asp-action="Index">Section Management</a>
    </li>
    
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>


<div class="card mb-3">
    <div class="card-header">
        <div class="col-auto align-self-center">
            <h5 class="mb-0">
                @ViewData["Header"]
            </h5>
        </div>        
    </div>
    <div class="card-body">

        <form asp-action="Create" class="row g-3">

            <div class="col-md-4">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Section Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Strand"></label>
                <select asp-for="Strand" class="form-control">
                    <option value="">Select a strand</option>
                    @foreach (var strand in (IEnumerable<string>)ViewData["Strands"])
                    {
                        <option value="@strand">@strand</option>
                    }
                </select>
                <span asp-validation-for="Strand" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="YearLevel">Grade Level</label>
                <input asp-for="YearLevel" min="7" max="12" class="form-control" placeholder="Grade Level"/>
                <span asp-validation-for="YearLevel" class="text-danger"></span>
            </div>

            <div class="col-12"><button class="btn btn-primary" type="submit">Create</button></div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
