@model lms_test1.Models.Subject

@{
    ViewData["Title"] = "Subjects";
    ViewData["Header"] = "Create Subject";
}


<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="Subjects" asp-action="Index">Subject Management</a>
    </li>
    
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>


<div class="card mb-3">
    <div class="card-header">
        <div class="col-auto align-self-center">
            <h5 class="mb-0">
                @ViewData["Header"]
            </h5>
        </div>        
    </div>
    <div class="card-body">

        <form asp-action="Create" class="row g-3">

            <div class="col-md-6">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Subject Name"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Track"></label>
                <select asp-for="Track" class="form-control">
                    <option value="">Select a track</option>
                    @foreach (var track in (IEnumerable<string>)ViewData["Tracks"])
                    {
                        <option value="@track">@track</option>
                    }
                </select>
                <span asp-validation-for="Track" class="text-danger"></span>
            </div>

            <div class="col-12"><button class="btn btn-primary" type="submit">Create</button></div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
