@model IEnumerable<lms_test1.Models.TeacherSubject>

@{
    ViewData["Title"] = "My Subjects";
}
<header>
    <div class="breadcrumbs mx-auto">
        <a href="#0/">@ViewData["Title"]</a>
    </div>

    <h2 class="title">@ViewData["Title"]</h2>
</header>

<div class="prevent-overflow px-8">
    <table class="pure-table">
        <thead>
            <tr>
                <th>Subject</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="subjectTableBody">
            @if (!Model.Any())
            {
                <tr>
                    <td colspan="2" style="text-align: center; font-style: italic; color: #888;">
                        No subjects found.
                    </td>
                </tr>
            }
            else
            {
                @foreach (var teacherSubject in Model)
                {
                    <tr>
                        <td>@teacherSubject.Subject.Name</td>
                        <td>
                            <a asp-action="SubjectDetails" asp-route-teacherSubjectId="@teacherSubject.Id">Details</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>