@{
    ViewData["Title"] = "Home Page";
    ViewData["HeaderTitle"] = "Welcome";
}

<header>
    <div class="breadcrumbs">
        <a href="#0/">Home</a>
    </div>

    <h1 class="title">@ViewData["HeaderTitle"]</h1>

    <nav class="nav-tabs" id="nav-tabs">
        <a href="#0" class="active">
            Deals
            <span>14</span>
        </a>
        <a href="#0">
            Library
            <span>24</span>
        </a>
        <a href="#0">
            Search Library
        </a>
    </nav>
</header>

<div class="overflow-auto">
    <div class="content-columns">
    
        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <div class="col">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
    
    </div>
</div>
