@{
    ViewData["Title"] = "Privacy Policy";
    ViewData["HeaderTitle"] = "Privacy Policy";
}

<header>
    <div class="breadcrumbs">
        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a> > <a href="/#">Privacy</a>
    </div>

    <h1 class="title">@ViewData["HeaderTitle"]</h1>
</header>

<p>Use this page to detail your site's privacy policy.</p>
