@model lms_test1.Models.ViewModels.TeachersManagement.LMSUserCreateViewModel;

@{
    ViewData["Title"] = "Teachers";
    ViewData["Header"] = "Create Teacher Account";
}


<nav class="mb-3" style="--falcon-breadcrumb-divider: '»';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a asp-area="" asp-controller="TeachersManagement" asp-action="Index">Teacher Management</a>
    </li>
    
    <li class="breadcrumb-item active" aria-current="page">@ViewData["Header"]</li>
  </ol>
</nav>


<div class="card mb-3">
    <div class="card-header">
        <div class="col-auto align-self-center">
            <h5 class="mb-0">
                @ViewData["Header"]
            </h5>
        </div>        
    </div>
    <div class="card-body">

        <form asp-action="Create" class="row g-3">

            <div class="col-md-4">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" placeholder="Last Name"/>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" placeholder="First Name"/>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="MiddleName"></label>
                <input asp-for="MiddleName" class="form-control" placeholder="Middle Name"/>
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label class="form-label" asp-for="Email"></label>
                <input class="form-control" asp-for="Email" type="email" placeholder="Email address" />
            </div>

            <div class="col-md-4">
                <label asp-for="UserName"></label>
                <input asp-for="UserName" class="form-control" placeholder="User Name"/>
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" placeholder="Password" type="password"/>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="col-12">
                <div class="form-check">
                    <label class="form-label">
                        @Html.DisplayNameFor(model => model.Verified)
                    </label>
                    <input class="form-check-input" asp-for="Verified" type="checkbox"/>
                </div>
            </div>

            <div class="col-12"><button class="btn btn-primary" type="submit">Create</button></div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
